{% extends 'layout/base.html' %}

{% load crispy_forms_tags %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="display-3 text-center">Reset Password</h1>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button class="btn btn-primary btn-block display-1">Reset password</button>
                    </div>
                    <div class="card-footer text-muted">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
    