{% extends 'layout/base.html' %}

{% load crispy_forms_tags %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <div class="card p-3 m-3" style="margin-top:80px !important;">
                    <div class="card-header">
                        <h3 class="display-5 text-center">Password Change</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{form|crispy}}
                            <button class="btn btn-primary btn-block">Change Password</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                        <a href="{% url 'dashboard' %}" class="btn btn-warning btn-block">back to dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
