{% extends 'layout/base.html' %}

{% load crispy_forms_tags %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto m-3 p-2" style="margin-top: 80px !important;" >
                <div class="card">
                    <div class="card-header">
                        <h1 class="display-5 text-center">Reset Password</h1>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{form|crispy}}
                            <br>
                            <button class="btn btn-primary btn-block display-1">Send Link</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                        <a href="{% url 'dashboard' %}" class="btn btn-warning btn-block">back to dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
    